<form method="post" action="{{ path('app_database_delete', {'id': database.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ database.id) }}">
    <button class="btn">Delete</button>
</form>
