{% extends 'base.html.twig' %}

{% block title %}Edit Database{% endblock %}

{% block body %}
    <h1>Edit Database</h1>

    {{ include('database/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_database_index') }}">back to list</a>

    {{ include('database/_delete_form.html.twig') }}
{% endblock %}
