.home_box {
  width: 80%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

.link_sub_box {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  color: #B3145E;
  font-weight: bolder;
  margin-top: 30px;
}

.home_sub_box {
  margin-top: 30px;
}

.home_sub_box p {
  margin-top: 10px;
  opacity: 50%;
}
.home_sub_box h3{
  margin-bottom: 10px;
}

.toggle_button_container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px;
  width: 60px;
  box-shadow: inset 0 1px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transition: .2s ease-out;
}
.toggle_button_container-active {
  background: #B3145E;
}
.toggle_button_container:hover {
  cursor: pointer;
}

.toggle_button {
  background: #B3145E;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
  transition: .2s ease-out;
}

.toggle_button-active {
  background: white;
  transform: translateX(200%);
}